<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class = 'header'>
        <div class = 'header-text'>ABOUT THE CAT</div>
    </div>
    <div class = 'container'>
        <div class = 'image'></div>
        <div class = 'text-container'>
            <div class="text">The Nyan Cat video was first posted to YouTube on April 5, 2011. The original GIF came from artist Christopher Torres’s website. The name Pop Tart Cat comes from him, since that’s what he originally called it. The animation itself is a piece of pixel art of a cat flying through space with a Pop-Tart body, followed by a trail of rainbows.</div>
        </div>
    </div>
    <h1>Hi! I'M THE F*CKING NYAN CAT🐱</h1>
    <div class="buttons">
        <button class="btn"><a href="/">HOME</a></button>
        <button class="btn"><a href="works">WORKS</a></button>
        <button class="btn"><a href="gallery">GALLERY</a></button>
    </div>
</body>
</html>