<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALLERY</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class = 'header'>
        <div class = 'header-text'>SEXY GALLERY</div>
    </div>

    <div class="gallery">
        <div class="img1"><a href="https://images.alphacoders.com/255/thumb-1920-255663.jpg"></a></div>
        <div class="img2"></div>
        <div class="img3"></div>
        <div class="img4"></div>
    </div>
    <h1>Hi! I'M THE F*CKING NYAN CAT🐱</h1>
    <div class="buttons">
        <button class="btn"><a href="/">HOME</a></button>
        <button class="btn"><a href="about">ABOUT</a></button>
        <button class="btn"><a href="works">WORKS</a></button>
    </div>
</body>
</html>