    <div class = 'header'>
        <div class = 'header-text'>HOME PAGE</div>
    </div>
    <div class = 'container'>
        <div class = 'image'></div>
        </div>
    </div>
    <h1>Hi! I'M THE F*CKING NYAN CAT🐱</h1>
    <div class="buttons">
        <button class="btn"><a href="about">ABOUT</a></button>
        <button class="btn"><a href="works">WORKS</a></button>
        <button class="btn"><a href="gallery">GALLERY</a></button>
    </div>