<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKS</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class = 'header'>
        <div class = 'header-text'>BIGGEST WORK</div>
    </div>
    <div class="iframe-container">
        <iframe src="https://www.nyan.cat/" width="960" height="540" allow="fullscreen"></iframe>
    </div>
    <h1>Hi! I'M THE F*CKING NYAN CAT🐱</h1>
    <div class="buttons">
        <button class="btn"><a href="/">HOME</a></button>
        <button class="btn"><a href="about">ABOUT</a></button>
        <button class="btn"><a href="gallery">GALLERY</a></button>
    </div>
</body>
</html>