    <div class = 'header'>
        <div class = 'header-text'>BIGGEST WORK</div>
    </div>
    <div class="iframe-container">
        <iframe src="https://www.nyan.cat/" width="960" height="540" allow="fullscreen"></iframe>
    </div>
    <h1>Hi! I'M THE F*CKING NYAN CAT🐱</h1>
    <div class="buttons">
        <button class="btn"><a href="/">HOME</a></button>
        <button class="btn"><a href="about">ABOUT</a></button>
        <button class="btn"><a href="gallery">GALLERY</a></button>
    </div>